.cardForm input[type='text'],
.cardForm input[type='email'],
.cardForm select,
.cardForm input[type='password'] {
	width: 100%;
}

.cardForm.split input[type='text'],
.cardForm.split input[type='email'],
.cardForm.split select,
.cardForm.split input[type='password'] {
	width: 70%;
	right:0;
}
.cardForm.split span{
	width:30%;
	font-weight: bold;
	display:inline-block;
}

.cardForm .formHeader {
	background-color: var(--default-accent-color);
	border-top-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
	color: #fff;
	padding: 1.5em;
	text-align: center;
	text-transform: uppercase;
}

.formTitle {
	font-size: 16px;
	font-size: 1rem;
	margin: 0;
}

.formBody {
	background-color: #fff;
	padding: 1.5em;
	position: relative;
}

.formBody::before {
	background-color: #fff;
	content: '';
	height: 0.5em;
	left: 50%;
	margin-left: -0.25em;
	margin-top: -0.25em;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 0.5em;
}

.cardForm input[type='text'],
.cardForm input[type='email'],
.cardForm select,
.cardForm input[type='password'] {
	border: 0.0625em solid var(--divider-color);
	padding: 1em 1.25em;
	border-top-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
}

.cardForm input[type='submit'] {
	margin-left: auto;
	display: block;
	background-color: var(--default-accent-color);
	color: var(--text-accent-color);
	border-radius: 0.25em;
	font-weight: 700;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	padding: 0.75em 1.25em;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.cardForm input[type='submit']:hover {
	background-color: var(--dark-accent-color);
}

.formFooter {
	-webkit-box-align: center;
	-ms-flex-align: center;
	background-color: #fff;
	border-bottom-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: r;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-bottom: 1.5em;
	padding-left: 9em;
	padding-right: 1.5em;
}