/* LOGIN MENU */

#loginMenu input[type='text'],
#loginMenu input[type='password'] {
	width: 100%;
}

.loginHeader {
	background-color: #282830;
	border-top-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
	color: #fff;
	padding: 1.5em;
	text-align: center;
	text-transform: uppercase;
}

.loginTitle {
	font-size: 16px;
	font-size: 1rem;
	margin: 0;
}

.loginBody {
	background-color: #fff;
	padding: 1.5em;
	position: relative;
}

.loginBody::before {
	background-color: #fff;
	content: '';
	height: 0.5em;
	left: 50%;
	margin-left: -0.25em;
	margin-top: -0.25em;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 0.5em;
}

#loginMenu input[type='text'],
#loginMenu input[type='password'] {
	border: 0.0625em solid #e5e5e5;
	padding: 1em 1.25em;
	border-top-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
}

#loginMenu input[type='submit'] {
	background-color: #1dabb8;
	border-radius: 0.25em;
	color: #fff;
	font-weight: 700;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	padding: 0.75em 1.25em;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

#loginMenu input[type='submit']:hover {
	background-color: #198d98;
}

.loginFooter {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #fff;
	border-bottom-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-bottom: 1.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
}