.navbar {
	position: fixed;
    top: 0;
    z-index: 10;
	padding: 10px 0;
	width: 100%;
	height: auto;
	background-color: var(--default-primary-color);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	font-size: 18px;
}
.navLeft{
	position: absolute;
	left: 1em;
	top:0.9em;
}
.navLeft:hover{
	border-radius: 200px;
	transition: box-shadow 0.3s ease-in-out;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.afterNav{
	display: block;
	height: 80px;
}
.logo,
.nav {
	display: inline-block;
	margin: 0;
}

.logo {
	font-size: 24px;
}


/* nav links */

.nav {
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav li {
	display: inline-block;
	margin-left: 40px;
}

.navbar a {
	color: #111;
	text-decoration: none;
}

.navbar a:hover {
	color: #000;
	font-weight: 500;
}


/* right pull nav links */

.navRight {
	float: right;
	line-height: 39px;
}


/* Search bar */

.nav.search {
	margin-left: 30px;
	position: relative;
	display: inline-grid;
	transition: width 0.3s ease-in-out;
	width: 20%;
}

.nav.search:focus-within {
	transition: width 0.3s ease-in-out;
	width: 50%;
}

.nav.search input {
	border-radius: 3px;
	display: inline-block;
	text-indent: 40px;
	background: rgba(0, 0, 0, 0.04);
	padding: 0.4em;
}

.nav.search input:focus {
	border-radius: 5px;
	background: white;
}

.nav.search .material-icons.search {
	position: absolute;
	top: 11px;
	left: 14px;
}


/* Close button */

.nav.search .material-icons.close {
	cursor: pointer;
	display: none;
	position: absolute;
	top: 11px;
	right: 10px;
}

.nav.search:focus-within .material-icons.close {
	display: inline-block;
}
.nav.search .material-icons.close:hover{
	color: #000;
	border-radius: 99em;
	background: rgba(0, 0, 0, 0.1);

}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: var(--dark-accent-color); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 100px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--text-accent-color);
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 50px;
    right: 5px;
    font-size: 36px;
	padding: 0;
    color: var(--text-accent-color);
	font-weight: 100;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}