.statistics {
    font-size: large;
    text-align: center;
    justify-content: center;
}

.statistics.list {
    display: inline-flex;
    flex-direction: column;
    padding: 0;
}

.statistics.value {
    height: 60px;
    width: 60px;
    line-height: 60px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 2em;
    display: block;
    margin: 0 auto;
}

.statistics.name {
    display: block;
    width: 10rem;
}

.container .description{
	padding: 5em 0 5em 0;
	text-align: center;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px 2px rgba(0, 0, 0, 0.23);
}

#projectForm{
	margin-top: 20px;
	margin-bottom: 20px;
}
/* members */

.members {
    text-align: center;
}

body {
    margin-bottom: 50%;
}

a {
    color: black;
}

h1 {
    font-size: xx-large;
    font-weight: bolder;
}

h2 {
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

.memberContainer {
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 250px;
    background-color: var(--divider-color);
}

.member {
    border-radius: 500px;
	margin: auto;
	display: block;
	width: 200px;
	height: 200px;
	object-fit: cover;
	overflow: hidden;
}


/* colors */

body.green {
    background-color: #A5D6A7;
}

body.yellow {
    background-color: #FFF59D;
}

body.teal {
    background-color: #80CBC4;
}

body.blue {
    background-color: #90CAF9;
}

body.purple {
    background-color: #CE93D8;
}

body.pink {
    background-color: #F48FB1;
}

body.red {
    background-color: #EF9A9A;
}

body.orange {
    background-color: #FFCC80;
}

body.brown {
    background-color: #BCAAA4;
}

body.grey {
    background-color: #EEEEEE;
}