:root {
	--dark-primary-color: #FFA000;
	--default-primary-color: #FFC107;
	--light-primary-color: #FFECB3;
	--text-primary-color: #212121;
	--dark-accent-color: #455A64;
	--default-accent-color: #607D8B;
	--light-accent-color: #CFD8DC;
	--text-accent-color: #FDFDFD;
	--divider-color: #E8E8E8;
}

html {
	/*
	background: url("../images/background.jpeg") no-repeat center center fixed;
    background-color: rgb(49, 80, 141);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	font-size: 14px;
}

body {
	padding: 0;
	margin: 0;
	line-height: 1.6;
	background-color: var(--divider-color);
}

.grid {
	margin-top: 10em;
	margin-left: auto;
	margin-right: auto;
	max-width: 24em;
	width: 90%;
}

.grid-long {
	max-width: 35em;
}

.grid-small-margins{
	margin-top:0em;
	margin-bottom:2em;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	background-color: inherit;
	color: #FFFFFF;
	text-decoration: underline;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	cursor: pointer;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	font: inherit;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type='submit'] {
	cursor: pointer;
}

.noMargin {
	margin: 0;
}

.noPadding {
	padding: 0;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.hidden{
	display:none!important;
}
.error {
	background: rgb(255, 0, 0);
	color: white;
	margin-top: 4px;
	margin-bottom: 4px;
	width:100%;
	border-radius: 5px;
	animation: hideAnimation 0s ease-in-out 3s forwards;
	animation-fill-mode: forwards;
}

.show-on-hover {
	/*ocupa o espaço à mesma*/
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.show-on-hover-parent:hover .show-on-hover,
.show-on-hover-parent:active .show-on-hover {
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}


/* responsive container */

.container {
	margin: 0 auto;
}

@media screen and (max-width: 677px) {
	.container {
		width: 80%;
	}
}

@media screen and (max-width: 767px) {
	.container {
		width: 90%;
	}
}

@media screen and (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media screen and (min-width: 992px) {
	.container {
		width: 960px;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}


/* Material Shadows */

.shadow-1 {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-2 {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-3 {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


/* Color pickers colors */

option:hover {
	background: transparent;
}

option.white {
	background-color: #FFFFFF;
	color: #000000;
}

option.red {
	background-color: #F44336;
	color: #FFFFFF;
}

option.orange {
	background-color: #FF9800;
	color: #FFFFFF;
}

option.yellow {
	background-color: #FFEB3B;
	color: #FFFFFF;
}

option.green {
	background-color: #4CAF50;
	color: #FFFFFF;
}

option.teal {
	background-color: #009688;
	color: #000000;
}

option.blue {
	background-color: #2196F3;
	color: #FFFFFF;
}

option.indigo {
	background-color: #3F51B5;
	color: #000000;
}

option.purple {
	background-color: #9C27B0;
	color: #000000;
}

option.pink {
	background-color: #E91E63;
	color: #000000;
}

option.brown {
	background-color: #795548;
	color: #000000;
}

option.grey {
	background-color: #9E9E9E;
	color: #FFFFFF;
}